* {
    font-family: "Raleway", sans-serif;
    scroll-behavior: smooth;
    background: #1d2124;
}

.items-block {
    border: 2px solid firebrick;
    margin: 10px;
    padding: 10px;
}

.items-block h4 {
    text-transform: capitalize;
}

.items-block a {
    color: #fff;

}

.items-block a:hover {
    color: #ffff;
}

.big-text {
    font-family: Montserrat, sans-serif;
    padding: 1em 0;
}